spring:
  application:
    name: nyang-nyang-bot
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  datasource:
    url: ${DB_URL:ENC(aaC2l5twFy36wicAJjFw6dNdgEJUGs6HNHcK9z1YRGV8rRnyjchggGCHwOYJAAWrk/F6SvrUzWvx/DCcp8gJKgooROKrI2fCXWEWNu5x1GM=)}
    username: ${DB_USERNAME:ENC(8rEbRK5wP4t3G/5uvMuxpYFpjNvQdCszFCB5O47VpKpgMkkZNUMMb98acnZIlPye)}
    password: ${DB_PASSWORD:ENC(KBJVPID3U2CxSFN1apiXheJ92TtZXLNWGXW2Pvii3BiR1WcT1+TMVouRPNABMIwk)}

jasypt:
  encryptor:
    password: ${JASYPT_KEY}

google:
  spreadsheet:
    id: ENC(4hsMJwPVMud5uMCYlsY6AEofkUityI6pU68yrSgEnJHVsdG4bdFOcD6eWe08xkYIruy4deRX1xlIM+A5+lp47fVXaZqTZ8s5EwKzg63zpjU=)
    key: ./key/google_spread_sheet_key.json

chzzk:
  id: ${CHZZK_ID:ENC(aOASAVotUHdAABf0SDvcVjxvR7TkTSK/mU0d4yUVArvPx9XmHkQgudf7qqsFc8v4)}
  password: ${CHZZK_PASSWORD:ENC(CziDTwuP8udmw3Rj5elsU7Bdf5x7umGM5iH8u0nUJu92wBCFivnuY/FPYdzymA6j)}
  channelId: ${CHZZK_CHANNEL_ID:ENC(quG85YdX+oDu/vCBG0Aubp2vv0oNBCj2DGztfUIq58T/o9a4Bdd/YrCnDyE/GkhKZQw6ZaNqam0od0GQ+o2XcnetxVoX7PVqr+ogJ87sr4g=)}
  clientId: ${CHZZK_CLIENT_ID:ENC(aWyut53qLnkrwiZum0V/8KyJ4xlpAKtq8YaR6h0ERlLbK2YDF0O9ZihGdUGOABUq6fxzUH43uHbIEDyfL/tixPqXOdu+TUX5KlTKoIzUS9s=)}
  clientSecret: ${CHZZK_CLIENT_SECRET:ENC(wG+b5r5ms4bJVAyV0Gn2VxayRdxejJ2KdhttHEhYRrtBcBs2r8qwtdMYBZf8mHsmojCEnOBCStWdwVeov1nOh2Q5MObo8fg0H6hD43kmQqo=)}
  redirectUri: ${CHZZK_REDIRECT_URI:http://localhost:8080}