<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<img alt="치즈냥 로고"
     class="flex-shrink-0 object-fit-cover"
     src="https://nng-phinf.pstatic.net/MjAyNDAzMDlfMjQg/MDAxNzA5OTI3ODk5MTk4.-R_7VTIWynEx4CSWpUvSgqWIGlylkkv-hv8JsHugcvQg.d3Vl9GN584w3__Lxbaq5zWYBBhugPJ-CIZHl6KoZ1-8g.PNG/%ED%95%98%ED%8A%B8%EC%86%90_%EC%95%8C%ED%8A%B8%EB%B8%8C%EC%9D%B4.png?type=f120_120_na"
     th:classappend="${roundedClass}"
     th:fragment="logo(size, roundedClass)"
     th:height="${size}"
     th:width="${size}">
</body>
</html>
