<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>호감도 목록</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 56px;
    }

    .container {
      margin-top: 20px;
    }

    .form-inline .form-control {
      width: auto;
    }

    .table-hover tbody tr:hover {
      background-color: #f5f5f5;
    }

    .thead-spring-admin {
      background-color: #00b19d; /* Spring Boot Admin color */
      color: #fff; /* White text for contrast */
    }

    .btn-custom {
      width: 100px; /* Set a fixed width for buttons */
      height: 38px; /* Set a fixed height for buttons */
      text-align: center;
    }

    .toast {
      min-width: 200px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 10px;
      opacity: 0.9;
    }

    /* Right align table cells */
    .table td, .table th {
      text-align: right;
    }

    /* Right align list items in history-details */
    .history-details ul {
      text-align: right;
    }

    #loading-spinner {
       position: fixed;
       top: 0;
       left: 0;
       width: 100vw;
       height: 100vh;
       background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
       z-index: 9999; /* Ensure it is on top of other elements */
       display: none; /* Hide initially */
       justify-content: center;
       align-items: center;
     }
  </style>
</head>
<body>
<div class="container">
  <h1 class="mb-4">호감도 목록</h1>
  <!-- alert -->
  <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
  <!-- toast -->
  <div id="toast" class="toast" style="position: fixed; bottom: 20px; right: 20px; display: none;">
    <div class="toast-body">
      <span id="toast-text"></span>
    </div>
  </div>
  <!-- Loading Spinner --><!-- Loading Spinner -->
  <div id="loading-spinner">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- ID 검색 폼 -->
  <form th:action="@{/favorite/list}" method="get" class="form-inline mb-3 w-100">
    <div class="form-group mr-2">
      <label for="searchId" class="sr-only">Search by ID:</label>
      <input type="text" id="searchId" name="searchId" th:value="${nickName}" class="form-control" placeholder="Enter nickName">
    </div>
    <button type="submit" class="btn btn-primary btn-custom">Search</button>
    <!-- 데이터 동기화 버튼 -->
    <div class="ml-auto">
      <button id="sync-button" style="width: 125px" type="button" class="btn btn-primary btn-custom">데이터 동기화</button>
    </div>
  </form>

  <!-- 데이터 리스트 -->
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-spring-admin">
    <tr>
      <th style="width: 5%;">ID</th>
      <th style="width: 20%;">닉네임</th>
      <th style="width: 10%;">호감도</th>
      <th style="">사유</th>
      <th style="width: 7%;">날짜</th>
      <th style="width: 7%;">버튼</th>
    </tr>
    </thead>
    <tbody>
    <div th:if="${favoriteList != null}">
      <tr th:each="favoriteEntity, iterStat : ${favoriteList.content}">
        <td>
          <button style="width: 30px;" class="btn btn-secondary btn-sm btn-custom copy-btn" type="button" th:data-nickname="${favoriteEntity.userId}">...</button>
        </td>
        <td>
          <span th:text="${favoriteEntity.nickName}" class="nickname" th:data-user-id="${favoriteEntity.userId}">테스트</span>
        </td>
        <td>
          <span th:text="${favoriteEntity.favorite}">12200</span>
          <div class="history-details" style="display: none;">
            <ul class="list-group-favorite">
              <!-- 히스토리 항목이 여기에 추가됩니다 -->
            </ul>
          </div>
        </td>
        <td>
          <span th:text="${favoriteEntity.histories.size() > 0 ? favoriteEntity.histories[0].history : '최초 입력'}">최초 입력</span>
          <div class="history-details" style="display: none;">
            <ul class="list-group-history">
              <!-- 히스토리 항목이 여기에 추가됩니다 -->
            </ul>
          </div>
        </td>
        <td>
          <span th:text="${#temporals.format(favoriteEntity.modifyDate, 'M/d')}">10/08</span>
          <div class="history-details" style="display: none;">
            <ul class="list-group-modifyDate">
              <!-- 히스토리 항목이 여기에 추가됩니다 -->
            </ul>
          </div>
        </td>
        <td>
          <form th:action="@{/favorite/delete}" method="post" class="d-inline deleteForm">
            <input type="hidden" name="userId" th:value="${favoriteEntity.userId}">
            <button type="submit" class="btn btn-danger btn-sm btn-custom">삭제</button>
          </form>
        </td>
      </tr>
    </div>
    <!-- 데이터 추가 폼 -->
    <tr>
      <form th:action="@{/favorite/add}" method="post" class="form-inline">
        <td>
          <input type="text" id="userId" name="userId" class="form-control" placeholder="ID" required>
        </td>
        <td>
          <input type="text" id="nickName" name="nickName" class="form-control" placeholder="닉네임" required>
        </td>
        <td>
          <input type="number" id="favorite" name="favorite" class="form-control" placeholder="0" required>
        </td>
        <td>
          <input type="text" id="history" name="history" class="form-control" placeholder="최초 입력" required>
        </td>
        <td>
          <span th:text="${#temporals.format(T(java.time.LocalDate).now(), 'M/d')}"></span>
        </td>
        <td>
          <button type="submit" class="btn btn-success btn-custom">변경</button>
        </td>
      </form>
    </tr>
    </tbody>
  </table>

  <!-- 페이지 네비게이션 -->
  <div th:if="${favoriteList != null}">
    <nav th:if="${favoriteList.totalPages > 1}">
      <ul class="pagination justify-content-center">
        <li th:classappend="${favoriteList.number == 0} ? 'disabled'" class="page-item">
          <a th:href="@{/favorite/list(page=${favoriteList.number - 1})}" class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li th:each="i : ${#numbers.sequence(0, favoriteList.totalPages - 1)}" th:classappend="${i == favoriteList.number} ? 'active'" class="page-item">
          <a th:href="@{/favorite/list(page=${i})}" class="page-link" th:text="${i + 1}"></a>
        </li>
        <li th:classappend="${favoriteList.number == favoriteList.totalPages - 1} ? 'disabled'" class="page-item">
          <a th:href="@{/favorite/list(page=${favoriteList.number + 1})}" class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
  document.addEventListener('keydown', function (event) {
    if (event.key === 'F5' || (event.ctrlKey && event.key === 'r') || (event.metaKey && event.key === 'r')) {
      event.preventDefault();
    }
  });

  function showToast(text) {
    var toast = document.getElementById('toast');
    var toastNickname = document.getElementById('toast-text');
    toastNickname.textContent = text;
    toast.style.display = 'block';
    setTimeout(function () {
      toast.style.display = 'none';
    }, 2000);
  }

  document.addEventListener('DOMContentLoaded', function() {
    var syncButton = document.getElementById('sync-button');
    if (syncButton) {
      syncButton.addEventListener('click', function(event) {
        event.preventDefault();
        var form = document.createElement('form');
        form.method = 'post';
        form.action = '/favorite/sync';
        document.body.appendChild(form);
        var spinner = document.getElementById('loading-spinner');
        spinner.style.display = 'flex'; // Show the spinner
        $.post(form.action, $(form).serialize())
        .done(function(response) {
          if (response === 'success') {
            showToast("데이터 동기화 완료!");
          }
        })
        .fail(function() {
          showToast("Error during synchronization");
        })
        .always(function() {
          spinner.style.display = 'none'; // Hide the spinner
          document.body.removeChild(form);
        });
      });
    } else {
      console.error('Element with ID "sync-button" not found.');
    }
  });

  document.querySelectorAll('.copy-btn').forEach(function (button) {
    button.addEventListener('click', function () {
      var nickname = this.getAttribute('data-nickname');
      var tempInput = document.createElement('input');
      tempInput.value = nickname;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand('copy');
      document.body.removeChild(tempInput);
      showToast("복사 완료:" + nickname);
    });
  });

  document.querySelectorAll('tbody tr').forEach(function (row) {
    row.addEventListener('click', function () {
      var userId = this.querySelector('.nickname').getAttribute('data-user-id');
      var historyDetails = this.querySelectorAll('.history-details');
      var historyFavorite = historyDetails[0].querySelector('.list-group-favorite');
      var historyHistory = historyDetails[1].querySelector('.list-group-history');
      var historyModifyDate = historyDetails[2].querySelector('.list-group-modifyDate');

      if (historyFavorite && historyHistory && historyModifyDate) {
        if (historyDetails[0].style.display === 'none' || historyDetails[0].style.display === '') {
          $.ajax({
            url: '/favorite/history/' + userId,
            method: 'GET',
            success: function (data) {
              historyFavorite.innerHTML = '';
              historyHistory.innerHTML = '';
              historyModifyDate.innerHTML = '';

              data.forEach(function (item) {
                var listItemFavorite = document.createElement('li');
                listItemFavorite.className = 'list-group-item';
                listItemFavorite.textContent = item.favorite;
                historyFavorite.appendChild(listItemFavorite);

                var listItemHistory = document.createElement('li');
                listItemHistory.className = 'list-group-item';
                listItemHistory.textContent = item.history;
                historyHistory.appendChild(listItemHistory);

                var listItemModifyDate = document.createElement('li');
                listItemModifyDate.className = 'list-group-item';
                var date = new Date(item.modifyDate);
                listItemModifyDate.textContent = (date.getMonth() + 1) + '/' + date.getDate();
                historyModifyDate.appendChild(listItemModifyDate);
              });
              historyDetails[0].style.display = 'block';
              historyDetails[1].style.display = 'block';
              historyDetails[2].style.display = 'block';
            },
            error: function (error) {
              console.error('Error fetching history:', error);
            }
          });
        } else {
          historyDetails[0].style.display = 'none';
          historyDetails[1].style.display = 'none';
          historyDetails[2].style.display = 'none';
        }
      } else {
        console.error('One or more elements not found:', {
          historyFavorite,
          historyHistory,
          historyModifyDate
        });
      }
    });
  });
</script>
</body>
</html>