name: Build and Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ edited ]

permissions:
  contents: write
  packages: write

jobs:
  build-and-deploy:
    if: github.event_name == 'push'
    uses: now-start/workflow/.github/workflows/reusable-java-build.yaml@main
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}

  test-only:
    if: github.event_name == 'pull_request'
    uses: now-start/workflow/.github/workflows/reusable-java-test.yaml@main

  rollback:
    if: github.event_name == 'release' && github.event.release.prerelease == true
    uses: now-start/workflow/.github/workflows/reusable-rollback.yaml@main
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}