name: Build and Push Docker Image

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  packages: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get project version
        run: |
          echo "VERSION=$(awk -F'=' '/^version/ {gsub(/["'\''"]/, "", $2); print $2}' build.gradle | xargs)" >> $GITHUB_ENV

      - name: Check if version tag exists remotely
        run: |
          VERSION=${{ env.VERSION }}
          echo "Checking if tag $VERSION exists in remote repository..."
          if git ls-remote --tags origin "refs/tags/$VERSION" | grep -q "$VERSION"; then
            echo "Version $VERSION already exists. Skipping build and tag."
            echo "TAG_EXISTS=true" >> $GITHUB_ENV
          else
            echo "Version does not exist. Proceeding with build and tag."
            echo "TAG_EXISTS=false" >> $GITHUB_ENV
          fi

      - name: Create Tag and Release
        uses: softprops/action-gh-release@v2.1.0
        with:
          tag_name: ${{ env.VERSION }}
          generate_release_notes: true
          #prerelease: true

    outputs:
      VERSION: ${{ env.VERSION }}
      TAG_EXISTS: ${{ env.TAG_EXISTS }}

  build:
    runs-on: ubuntu-latest
    needs: check
    if: ${{ needs.check.outputs.TAG_EXISTS == 'false' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew build

      - name: Build Docker image
        run: |
          VERSION=${{ needs.check.outputs.VERSION }}
          ./gradlew bootBuildImage --imageName ghcr.io/${{ github.repository }}:$VERSION

      - name: Tag Docker image with latest
        run: docker tag ghcr.io/${{ github.repository }}:${{ needs.check.outputs.VERSION }} ghcr.io/${{ github.repository }}:latest

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}:${{ needs.check.outputs.VERSION }}
          docker push ghcr.io/${{ github.repository }}:latest
